* {
    top: 0;
    left: 0;
}

.content {
    position: absolute;
    width: 1920px;
    min-height: 100vh;
    background-color: aquamarine;
}

.leftPanel {
    position: fixed;
    width: 527px;
    height: 1080px;
    background-color: #E2E2E9;
}

.backToMenu {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 331px;
    height: 63px;
    left: 98px;
    top: 51px;
    background: #F8F8FA;
    border: 2px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 16.0707px 34.4373px rgba(0, 0, 0, 0.1);
    border-radius: 45.9164px;
}

.leftArrow {
    /* position: relative; */
    width: 12px;
    height: 21.07px;
    margin-left: 40px;
}

.backText {
    width: 221px;
    height: 31px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #21A8DF;
    margin-left: 18px;
}

.qrInfo {
    position: absolute;
    width: 363px;
    height: 228px;
    left: 82px;
    top: 322px;
}

.qrCode {
    position: absolute;
    width: 155px;
    height: 155px;
    left: 106px;
}

.qrText {
    position: absolute;
    width: 363px;
    height: 62px;
    top: 166px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
}

.videoPresentation {
    position: absolute;
    width: 409px;
    height: 287px;
    left: 59px;
    top: 739px;
}

.videoButton {
    position: absolute;
    width: 409px;
    height: 231px;
    background: #BAE7EF;
    box-shadow: 0px 4px 12px rgba(2, 6, 31, 0.1), 0px 14px 37px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.playButton {
    position: absolute;
    width: 52.61px;
    height: 58.9px;
    left: 182.1px;
    top: 86.91px;
    object-fit: none;
    object-position: 50% 30%;
}

.videoText {
    /* Видеопрезентация */
    position: absolute;
    width: 191px;
    height: 31px;
    left: 109px;
    top: 256px;

    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
}