@font-face {
    font-family: "ALS Hauss";
    src: url("./Assets/Fonts/ALS_Hauss_Medium_1.003.otf") format("opentype");
}

* {
    top: 0;
    left: 0;
}

::-webkit-scrollbar {
    display: none;
}


/* MENU */

.menu {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: #E2E2E9;
}

.logo {
    position: absolute;
    width: 446.38px;
    height: 84px;
    top: 33px;
    left: 40px;
    object-fit: cover;
}

.categories {
    position: absolute;
    width: 448px;
    height: 606px;
    top: 167px;
    left: 33px;
}

.buttonRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 448px;
    height: 46px;
    margin-top: 10px;
}

.buttonRow#r0 {
    margin-top: 0px;
}

.categoryButton {
    box-sizing: border-box;
    padding: 10px;
    height: 46px;
    background-color: #F8F8FA;
    border: 1.14791px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 16.0707px 34.4373px rgba(0, 0, 0, 0.1);
    border-radius: 45.9164px;
}

.categoryButton:not(:empty) {
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #21A8DF;
    user-select: none;
}

.cardsLabel,
.indicatorsLabel {
    position: absolute;
    width: 1395px;
    height: 1080px;
    left: 525px;
    top: 0px;
}

.card {
    position: absolute;
    width: 434px;
    height: 318px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7.89145px 4.38414px -5.26096px rgba(0, 0, 0, 0.12);
    border-radius: 26px;
}

.indicator {
    position: absolute;
    width: 434px;
    height: 318px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    background-color: #e2e2e9cc;
    display: none;
}

.offCategories {
    position: absolute;
    width: 253.19px;
    height: 46px;
    left: 136px;
    top: 1004px;
    background: #F8F8FA;
    background-image: url(./Assets/offCategories.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1.14791px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 16.0707px 34.4373px rgba(0, 0, 0, 0.1);
    border-radius: 45.9164px;
    display: none;
}


/* LEFT PANNEL */

.content {
    position: absolute;
    width: 1920px;
    min-height: 100vh;
    display: none;
}

.leftPanel {
    position: fixed;
    width: 527px;
    height: 1080px;
    background-color: #E2E2E9;
}

.backToMenu {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 331px;
    height: 63px;
    left: 98px;
    top: 51px;
    background: #F8F8FA;
    border: 2px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 16.0707px 34.4373px rgba(0, 0, 0, 0.1);
    border-radius: 45.9164px;
}

.leftArrow {
    /* position: relative; */
    width: 12px;
    height: 21.07px;
    margin-left: 35px;
}

.backText {
    width: 221px;
    height: 31px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #21A8DF;
    margin-left: 15px;
    user-select: none;
}

.qrInfo {
    position: absolute;
    width: 433px;
    height: 275px;
    left: 47px;
    top: 299px;
}

.qrCode1,
.qrCode2 {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 95px;
}

.qrCode1 {
    left: 58px;
}

.qrCode2 {
    left: 221px;
}

.qrText {
    position: absolute;
    width: 433px;
    height: 72px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    user-select: none;
}

.rus,
.eng {
    position: absolute;
    width: 35px;
    height: 25px;
    top: 250px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #69819C;
}

.rus {
    left: 118px;
}

.eng {
    left: 280px;
}

.videoPresentation {
    position: absolute;
    width: 409px;
    height: 287px;
    left: 59px;
    top: 739px;
}

.videoButton {
    position: absolute;
    width: 409px;
    height: 231px;
    background: #FFFFFF;
    /* background-image: url(../Assets/VideoButtons/AIR+.png); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    box-shadow: 0px 4px 12px rgba(2, 6, 31, 0.1), 0px 14px 37px rgba(0, 0, 0, 0.1);
}

.playButton {
    position: absolute;
    width: 52.61px;
    height: 58.9px;
    left: 182.1px;
    top: 86.91px;
    object-fit: none;
    object-position: 50% 30%;
}

.videoText {
    position: absolute;
    width: 191px;
    height: 31px;
    left: 109px;
    top: 246px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    user-select: none;
}

.info {
    position: absolute;
    width: 1920px;
    object-fit: none;
    object-position: 0% 0%;
}


/* DISPLAY BUTTONS */

.buttonsContainerBack {
    position: fixed;
    width: 1920px;
    height: 1080px;
    display: none;
}

.buttonsContainer {
    position: fixed;
    width: 1920px;
    height: 1080px;
    background-color: #C0C0C9;
    opacity: 0.4;
}

.displayButtons {
    position: fixed;
    width: 1191px;
    height: 711px;
    left: 365px;
    top: 185px;
    background: rgba(255, 255, 255, 0.8);
    background-image: url(./Assets/displayButtons.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
}

.displayButton {
    position: absolute;
    height: 551px;
    width: 595px;
    background-color: #ffffff00;
}

.displayButton#leftButt {
    border-radius: 50px 0px 0px 0px;
}

.displayButton#rightButt {
    border-radius: 0px 50px 0px 0px;
}

.displaysBlocked {
    position: fixed;
    width: 621px;
    height: 421px;
    left: 650px;
    top: 330px;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;

    background-image: url(./Assets/blocked.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.slider {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5.26966px 6.58707px;
    gap: 6.59px;
    position: absolute;
    width: 360.24px;
    height: 83.16px;
    left: 779.7px;
    top: 775px;
    background: #F8F8FA;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 60.4909px;
}

.switch#RUS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 169.24px;
    height: 72.62px;
    background: #E2E2E9;
    border-radius: 39.5224px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 34.2528px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    user-select: none;
    margin-left: -2px;
}

.switch#ENG {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 171.24px;
    height: 72.62px;
    border-radius: 39.5224px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 34.2528px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #21A8DF;
    user-select: none;
    margin-right: -2px;
}